<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue - Global Build</title>
  <meta name="author" content="Tony Lee">
  <link rel="stylesheet" href="../styles/style.css">
</head>

<body>

  <div class="container" id="app" v-cloak>
    <h1>{{ title }}</h1>

    <div>
      <label>{{ count }}</label>
      <button @click="count++">Count++</button>
    </div>

    <div>
      <input type="text" v-model="text">
      <label id="label">{{ text }}</label>
    </div>

    <div>
      <button @click="getApiData">Get API Data</button>
      <ul>
        <li v-for="item in itmes">{{ item }}</li>
      </ul>
    </div>

  </div>

  <style>
    /* 可避免 Vue render 的一瞬間看到 {{ xxx }}，註解它，重新整理網頁看看差別 */
    [v-cloak] {
      display: none;
    }
  </style>

  <!-- Global Build -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref } = Vue

    // Vue3.0 Composition API
    const app = createApp({
      setup() {
        const title = ref('Vue - Global Build')
        const count = ref(0)
        const text = ref('text')
        const itmes = ref([])

        function getApiData() {
          itmes.value = [] // clear

          const base = Date.now();
          for (let i = 0; i < 5; i++) {
            itmes.value.push(base + i)
          }
        }

        return { title, count, text, itmes, getApiData }
      }
    }).mount('#app')

    // Vue 3.0/2.x Options API
    /* const app = createApp({
      data() {
        return {
          title : ref('Vue - Global Build'),
          count: 0,
          text: "text",
          itmes: [],
        }
      },
      methods: {
        getApiData() {
          this.itmes = [] // clear
 
          const base = Date.now();
          for (let i = 0; i < 5; i++) {
            this.itmes.push(base + i)
          }
        },
      },
    }).mount('#app') */


  </script>

</body>

</html>